.tooltip {
  border: 2px solid white;
  box-shadow: 0 0px 13px 8px #e1e1e1;
  padding: 10px 20px;
  min-width: 160px;
}

.wrapper {
  transition: all 300ms;
}

.buttonBar {
  padding-right: 20px !important;
  button {
    max-width: none !important;
  }
}
