:root {
  --bf500: #000091;
  --bf500-plain: #000091;
  --w-bf500: #fff;
  --bf300-plain: #bfbfe3;
  --bf200-bf300: #e5e5f4;
  --bf100-g750: #f2f2f9;
  --t-plain: transparent;
  --t-w: transparent;
  --g800: #1e1e1e;
  --g700: #383838;
  --g600: #6a6a6a;
  --g500: #9c9c9c;
  --g400: #cecece;
  --g300: #e7e7e7;
  --g200: #f0f0f0;
  --g100: #f8f8f8;
  --w: #fff;
  --beige: #f9f8f6;
  --g800-plain: #1e1e1e;
  --g600-g400: #6a6a6a;
  --g400-t: #cecece;
  --g100-g800: #f8f8f8;
  --w-g750: #fff;
  --focus: #2a7ffe;
  --info: #0762c8;
  --success: #008941;
  --error: #e10600;
  --rm300: #f7bfc3;
  --rm500: #e1000f;
  --b300: #e8dad5;
  --b500: #a26859;
  --bs300: #d5dbef;
  --bs500: #5770be;
  --bd300: #d1d2de;
  --bd500: #484d7a;
  --gl300: #e3ebd3;
  --gl500: #91ae4f;
  --gm300: #c5e6d8;
  --gm500: #169b62;
  --gs300: #e3ebd3;
  --gs500: #91ae4f;
  --gw300: #e4e2d8;
  --gw500: #958b62;
  --od300: #f7e1d8;
  --od500: #e18863;
  --om300: #f7e1d8;
  --om500: #ff9940;
  --os300: #ffdbd2;
  --os500: #ff6f4c;
  --p300: #ded3d6;
  --p500: #7d4e5b;
  --pd300: #f3e2dd;
  --pd500: #d08a77;
  --pl300: #fff0e7;
  --pl500: #ffc29e;
  --ps300: #ffe2df;
  --ps500: #ff8d7e;
  --yd300: #fef3cf;
  --yd500: #fdcf41;
  --ym300: #fff9bf;
  --ym500: #ffe800;
  --scroll-shadow: rgba(30, 30, 30, 0.16);
  --overlay: rgba(156, 156, 156, 0.32);
}
