.tabList {
  width: 100%;
  margin: 0;
  list-style: none;
  border-bottom: 0;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.tabList > li:first-child {
  /* margin-left: 0; */
}

.tab {
  cursor: pointer;
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  margin: 0 0.25rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--bf100-g750);
  font-weight: bold;
}
.tab:hover {
  background-color: var(--bf200-bf300);
}

.selectedTab {
  background-color: var(--w);
  color: var(--bf500);
  box-shadow: inset 0 2px 0 0 var(--bf500), inset -1px 0 0 0 var(--g300),
    inset 1px 0 0 0 var(--g300), 0 1px 0 0 var(--w);
}

.selectedTab:hover {
  background-color: var(--w);
}

.selectedTabPanel {
  border: 1px solid var(--g300);
  padding: 1.5rem;
}
